node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/.idea
.DS_Store
/allure-results
/allure-report
/test-results/
/playwright-report/
/playwright/.cache/
/*.tar
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
